@import "../../utilities/variables.scss";

.tech{
  margin: 45px;
    height:180px;
  width:180px;
  background-color: $tech-color;
  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.tech__icon{
  position: absolute;
}
.tech__description{
  position: relative;
  top:110px;
}
@include xl-screen{
  .technologies{
    height:1300px;
  }
}
@include lg-screen{
  .technologies{
    height:1500px;
  }
}
@include md-screen{
  .technologies{
    height:2300px;
  }
}
@include sm-screen{
  .technologies{
    height:2500px;
  }
}
