@import "../../utilities/variables.scss";

.tech{
  margin: 45px;
  height:180px;
  width:180px;
  background-color: $tech-color;
  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}
.dark .tech{
  background-color: $dark-tech-color;
}
.tech__icon{
  position: absolute;
}
.tech__description{
  position: relative;
  top:110px;
}
@include xl-screen{
  .technologies{
    height:1300px;
  }
}
@include lg-screen{
  .technologies{
    height:1500px;
  }
}
@include md-screen{
  .technologies{
    height:2300px;
  }
}
@include sm-screen{
  .technologies{
    height:2500px;
  }
}
@media screen
and (min-width: 480px)
and (max-width: 1200px) {
  .technologies{
    height:2200px;
  }
}
