@import "../../utilities/variables.scss";

.tech{
  margin: 45px;
    height:180px;
  width:180px;
  background-color: $tech-color;
  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.tech__icon{
  position: absolute;
}
.tech__description{
  position: relative;
  top:110px;
}
@media screen and (max-width: 480px) {
  .technologies{
    height:2500px;
  }
}
@media screen
and (min-width: 480px)
and (max-width: 1200px) {
  .technologies{
    height:2200px;
  }
}
