$background-color: #111;
$text-color: #ccc;
$primary-color: #1e3149;
$secoundary-color: #444;
$tech-color:#111;
$sm-phone:320px;
$phone:480px;
$tablet:786px;
$laptop:1024px;
$desktop:1280px;
@mixin xs-screen{
    @media only screen and (max-width:$sm-phone){
        @content;
    }
}
@mixin sm-screen{
    @media only screen and (max-width:$phone){
        @content;
    }
}
@mixin md-screen{
    @media only screen and (max-width:$tablet){
        @content;
    }
}
@mixin lg-screen{
    @media only screen and (max-width:$laptop){
        @content;
    }
}
@mixin xl-screen{
    @media only screen and (max-width:$desktop){
        @content;
    }
}