@import "../../utilities/variables.scss";


.description__content{
  font-size: 50px;
  text-align: center;
  margin:auto;
  padding: 10%;
}

@include md-screen {
    .description__content{
      font-size: 40px;
      }
  }
  @include sm-screen{
    .description__content{
    font-size: 30px;
    }
  }