@import "./utilities/variables.scss";

.App {
  text-align: center;
}
.name{
  color: $text-color;
  text-align: center;
  font-size:45px;
  padding-top: 50px;
}
.dark .name{
	color: $dark-text-color;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-color;
}
.dark .App-header {
	color:$dark-text-color;
}
