body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  color: white;
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Archivo Black', sans-serif;
}
.image{
  width:1000px;
  height:700px;
}
.projects, .technologies, .description, .slider {
  margin:10%;
  background-color: #2e4159;
  height:800px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius:50px;
}
@media screen and (max-width: 480px) {
  
  .projects, .technologies, .description{
      height: 1500px;
  }
  .description__content{
      font-size: 30px;
    }
    .projects, .technologies, .description {
      margin:10%;
      height:500px;
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      border-radius:50px;
  }
  .projects{
      height:1500px;
  }
  .technologies{
      height:1800px;
  }
  .slider__content{
      width:150px;
      height:400px;
  }
}
