@import "../../utilities/variables.scss";

.left-arrow{
    left:70px;
    position:absolute;
    top:3700px;
}
.right-arrow{
    right:70px;
    position:absolute;
    top:3700px;
}
.slider__content{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:80px;
    width:900px;
    height:600px;
    background-size: cover;
    border-radius:15%;
    margin:100px auto 100px;
    z-index: 10;
}
@media screen and (max-width: 480px) {
    .slider{
        height:600px;
    }
    .image{
        position: relative;
        bottom:100px;
        width: 50%;
        height:500px;
    }
    .left-arrow{
        left:25px;
        position: absolute;
        top:5600px;
    }
    .right-arrow{
        right:25px;
        position:absolute;
        top:5600px;
    }
}
@media screen
  and (min-width: 480px)
  and (max-width: 1200px) {
      .slider__content{
          width: 700px;
          height:700px;
      }
      .image{
          width: 70%;
      }
      .left-arrow{
        top:6000px;
    }
    .right-arrow{
        top:6000px;
    }
  }
